body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    color: burlywood;
}

#brief{
    padding: 30px;
    background-color: beige;
}

#article-brief{
    display: flex;
    justify-content: space-around;
}

#article-brief p {
    position: relative;
    width: 45%;
}

#list {
    display: flex;
    flex-direction: column;
}

#list h2 {
    text-align: center;
    font-size: 25px;
    color: cadetblue;
}

#list ul {
    margin: 0 auto;
    padding-left: 0px;
}

#list ul li {
    font-size: 20px;
    list-style: none;
    margin-bottom: 10px;
    background: bisque;
    color: black;
    padding: 10px 20px;
}

@media screen and (max-width: 650px) {
    #brief{
        background-color: aquamarine;
    }

    #article-brief{
        flex-direction: column;
    }

    #article-brief p {
        width: 100%;
    }
}