h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    color: burlywood;
}

#brief{
    padding: 30px;
    background-color: beige;
}

#article-brief{
    display: flex;
    justify-content: space-around;
}

#article-brief p {
    position: relative;
    width: 45%;
}